.bg {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  /* height: 2195px; */
  background: url('/Part_Two/noodle_PNG77\ 2.png');
  background-repeat: no-repeat;
  background-color: hsl(41, 100%, 55%) ;
  margin-bottom: 0px;
  padding-bottom: 0%;
}

/* Todo */

